<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center">
                    <h2 class="title">Preguntas frecuentes</h2>
                    <br>
                    <p class="subheadline">Si tiene alguna otra pregunta, no dude en ponerse en contacto con nosotros.</p>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="faqHeader">Pregunas generales</div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="accordion-toggle">
                                    ¿Qué es Gestiona tu bolsillo?</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Gestiona tu bolsillo es una plataforma de gestión enfocada a empresas de servicios, seguridad, mantenimiento, etc. que necesitan un control detallado de los trabajos que realizan en movilidad.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="accordion-toggle collapsed">
                                    ¿Qué necesitan los operarios para usar la plataforma?</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Solo necesitan un dispositivo con conexión a Internet, ya sea móvil, tablet u ordenador, pues toda la información se almacena en la nube y es accesible desde cualquier dispositivo. se envía en tiempo real.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="accordion-toggle collapsed">
                                    ¿Qué tipo de informes se pueden enviar?</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Se pueden enviar informes de acuda, partes de trabajo, partes de inspección y partes de incidencias. Todo ello con la posibilidad de adjuntar fotos, firmas, etc.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="accordion-toggle collapsed">
                                    ¿Cómo puedo usar Gestiona tu bolsillo?</a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                Para usar Gestiona tu bolsillo, solo necesitas registrarte en nuestra plataforma y crear una cuenta. Una vez que hayas creado tu cuenta, podrás acceder a todas las funcionalidades de la plataforma y empezar a gestionar tus trabajos de manera eficiente.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="accordion-toggle collapsed">
                                    ¿Se ajusta a las necesidades de mi empresa?</a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">
                                Sí, nuestra plataforma está en constante evolución y se adapta a las necesidades de los usuarios. Si tu empresa necesita algo en concreto, no dudes en hablar con nosotros.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>