<div class="get-started">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 heading center">
                <h2>¿Qué es Gestiona tu bolsillo?</h2>
                <p class="subheadline">
                    Gestiona tu bolsillo es una plataforma de gestión de trabajos orientada a todo tipo de empresas
                    que necesiten un seguimiento detallado de los servicios que realizan en movilidad.
                </p>
            </div>
            <!--Carousel-->
            <div class="col-md-12">
                <div id="carousel" class="owl-carousel">
                    <div>
                        <div class="icon-wrap wow fadeIn" data-wow-offset="300">
                            <i class="fa fa-laptop icon"></i>
                            <h3>Multi-plataforma</h3>
                            <p>Disponible App para sistemas operativos Android e iOS, incluyendo smartphones y tablets de cualquier tama&ntilde;o.</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon-wrap wow fadeIn" data-wow-offset="300">
                            <i class="fa fa-cloud icon"></i>
                            <h3>En la nube</h3>
                            <p>Acceda en cualquier momento a todos sus datos, desde cualquier dispositivo conectado a Internet.</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon-wrap wow fadeIn" data-wow-offset="300">
                            <i class="fa fa-cogs icon"></i>
                            <h3>Completo Backoffice</h3>
                            <p>Completo panel de control v&iacute;a web desde el que gestionar de manera sencilla todas las posibilidades que ofrece la plataforma.</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon-wrap wow fadeIn" data-wow-offset="300">
                            <i class="fa fa-play icon"></i>
                            <h3>F&aacute;cil de usar</h3>
                            <p>En unos minutos tendr&aacute;s todo en marcha. Tanto el backoffice como la aplicaci&oacute;n para m&oacute;viles est&aacute; pensada para ser usadaos de una forma simple y eficiente.</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon-wrap wow fadeIn" data-wow-offset="300">
                            <i class="fa fa-bar-chart icon"></i>
                            <h3>Informes</h3>
                            <p>Un completo set de informes para tener a mano cualquier dato que necesites en cualquier momento. Cada informe con filtros por fechas, usuarios, clientes, etc.</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon-wrap wow fadeIn" data-wow-offset="300">
                            <i class="fa fa-exchange icon"></i>
                            <h3>Interacci&oacute;n total</h3>
                            <p>Sus empleados podr&aacute;n enviar sugerencias a trav&eacute;s de la app y ellos recibir&aacute;n sus tareas, cuadrante asignado, etc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>