<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center" id="contact">
                    <h2 class="title">Contacta con nosotros</h2>
                    <br>
                    <p><i class="fa-solid fa-2x fa-envelope"></i>&nbsp;<strong>Mail de contacto ofuscado para bots aqui</strong></p>
                    <!--Añadir otras formas de contacto si existiesen-->
            </div>

        </div>
    </div>
    <footer class="bg-dark p-2 text-center">
        <div class="container">
            <p class="text-white mb-0">&copy;Gestiona tu bolsillo. Todos los derechos reservados.</p>
        </div>
        <div class="container" id="legal">
            <a class="text-white" href="#">Aviso legal</a>
        </div>
    </footer>
</div>